Source: ice-kyub-gui
Section: unknown
Priority: optional
Maintainer: Joel DeJesus (Work Email) <dejesus.joel@e-flamingo.jp>
Build-Depends: debhelper (>= 9), libdata-uuid-perl, libfile-sharedir-perl, libnumber-format-perl,libxtst-dev, libjson-pp-perl, libimage-png-qrcode-perl, libdigest-sha-perl, libmime-base64-urlsafe-perl, liblwp-protocol-https-perl, libhttp-parser-perl, libdevel-patchperl-perl, libglib-ev-perl, libglib-perl, libev-perl, libgtk3-simplelist-perl 
Standards-Version: 3.9.5

Package: ice-kyub-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},  libdata-uuid-perl, libfile-sharedir-perl, libnumber-format-perl, libjson-pp-perl, libimage-png-qrcode-perl, libdigest-sha-perl, libmime-base64-urlsafe-perl, liblwp-protocol-https-perl, libhttp-parser-perl, libdevel-patchperl-perl, libglib-ev-perl, libglib-perl, libev-perl, libgtk3-simplelist-perl
Description: GUI for Ice Kyub
 Interacts with the kgc daemon from the debian-kgc package.
 The perl module Kgc::Client::Gtk3GUI is installed.
